.footer {
  display: flex;
  background-color: #474fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 0 0;
  height: 100px;
  text-align: center;
}

.footer h5 {
  color: white;
  padding: 20px 0 0 0;
}

.footer p {
  color: white;
}

.footer a {
  color: white;
}

.btn_dev {
  background-color: #dd2a7b !important;
  border: none !important;
}

@media (max-width: 475px) {
  .footer h5 {
    font-size: 15px;
  }
}
