@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  background-color: #F8F9FA;
}

a {
  outline: none !important;
  text-decoration: none !important;
}

.table {
  text-transform: uppercase;
}
.deaths-text {
  color: rgb(185, 42, 42);
}

.recovered-text {
  color: rgb(53, 184, 53);
}

.btn-primary {
  background-color: #474FFF !important;
}
