.header {
  display: flex;
  background-color: #fff;
  justify-content: flex-start;
  align-items: center;
  min-height: 70px;
}

.header a {
  color: #000;
  font-weight: bold;
  outline: none;
  font-size: 20px;
  padding: 10px 20px;
  letter-spacing: 1px;
}

.shadow {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  -moz-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
